:root {
  --input-bg: #f0edff;
}
.form_input_group {
  display: flex;
  align-items: center;
  height: 52px;
  background-color: var(--input-bg);
  border-radius: 16px;
  padding: 0 16px;
  width: 364px;
  margin: 18px 0;
}

.input {
  height: 100%;
  flex: 1;
  background-color: var(--input-bg);
  padding: 0 12px;
}
.input:focus {
  outline: none;
  border: none;
}
.form_input_group:focus-within {
  border: 1px solid blue;
}
